.sidebar-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(39,13,39,1);
    border-radius: 5px;

}

h3 {
    font: 1em Montserrat, sans-serifs;
    font-weight: bold;
    text-align: left;
}

ul, li {
    list-style: none;
    text-align: left;
}

li {
    margin-left: 5%;
}
