.home-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.home-sidebar{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 100vh;
    justify-content: flex-start;
}

.home-main{
    height: 100vh;
    width: 65vw;
    padding: 25px;
    background-color: lightgray;
}

.swal2-title {
    color: #f9f9f9;
}

.swal2-input{
    color: #e1e1e1;
}
