
.tamanhos-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(39,13,39, 0.95);
    padding: 10px;
}

.tamanhos-title{
    color: azure;
    text-align: left;
    font: 1.5em 'Montserrat', sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
}

.copos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

